/* top navigation bar code from w3schools */

/* learned about hover drop down nav bars from w3schools */
.navbar {
    overflow: hidden;
    background-color: #144680;
    font-family: Trebuchet MS, Helvetica, sans-serif;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: cornsilk;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: cornsilk;
    padding: 14px 16px;
    background-color: #144680;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: cornsilk;
    color: #144680;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.navbar a.placeholder {
  color: gold;
  background-color: #144680;
}
.placeholder a:hover {
    background-color: #144680;
}

.dropdown-content a:hover {
    background-color: cornsilk;
    color: #144680;
}

.dropdown:hover .dropdown-content {
    display: block;
}

body {
    font-family: Trebuchet MS;
    background-color: cornsilk;
    color: #144680;
    font-size: large;
}
.header {
    text-align: center;
    font-size: xx-large;
}
.sub-header {
    text-align: center;
    font-size: x-large;
}
/* https://stackoverflow.com/questions/5617703/background-color-in-input-and-text-fields */
input, textarea {
    background-color: cornsilk;
    color: #144680;
    font-family: Trebuchet MS;
    font-size: large;
}
a {
  color: #144680;

}
#valueof2 {
    color: cornsilk;
}
